*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}

nav{
    background: #1b1c1c;
    line-height: 80px;
    position: fixed;
    width: 100%;
}
label{
    line-height: 80px;
    font-size: 30px;
    color: white;
    font-weight: 200px;
    margin-left: 50px;
    cursor: pointer;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    line-height: 80px;
    margin: 0 10px;

}
nav ul li a{
    color:  #1b1c1c;
    font-size: 20px;
    padding: 6px 15px;
    font-weight: 600;
    background: white;
    border-radius: 5px;
}
nav ul li a:hover{
    background: black;
    transition: 0.7s;
    color: white;
    text-decoration: none;
}
.side-menu{
    position: fixed;
    background-color: #1b1c1c;
    width: 20%;
    height: 100%;
    margin-top: 80px;
}
.side-menu center img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid white;

}
.side-menu center h5 {
    color: white;
}
.side-menu a{
    display: block;
    line-height: 60px;
    color: white;
    transition: 0.5s;
}
.side-menu a:hover{
    background: white;
    padding-left: 20px;
    text-decoration: none;
    color: black;
}
.side-menu span{
    font-size: 20px;
    margin-left: 10px;
    color: white;
}

.side-menu i{
    font-size: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}
.side-menu a:hover i{
    color: black;
}
.side-menu a:hover span{
    color: black;
}
nav .menu-bar{
    float: right;
    margin-top: 20px;
    display: none;
    margin-right: 20px;
}


#menu{
    display: none;
}
.side-menu .logout{
    display: none;
}
.data{
    width: 80%;
    height: 100vh;
    margin-left: 20%;
}
center{
        border-bottom: 1px solid white;
}

@media (max-width:850px) {
    
    .side-menu a span{
        display: none;

    }
    .side-menu center{
        display: none;
    }
    .side-menu{
        width: 10%;
    }
    .data{
        margin-left: 10%;
        width: 90%;
    }
    .side-menu a i{
        display: block;
        line-height: 80px;
        text-align: center;
        margin-left: 0;
        font-size: 20px;
    }
}   

@media (max-width:650px){
    nav ul{
        display: none;
    }
    .side-menu .logout{
        display: block;
    }
}