.scroll-img{
    background: url('../images/banner2.jpg') no-repeat fixed 100%;
    background-size: cover;
    position: relative;
}
.scroll-img::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(4, 194, 83, 0.343);
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}
.inner-div{
    margin: 60px 0px;
    z-index: 100;
    color: white;
}
.inner-div h1{
    font-weight: 500;
}
.mrg-t{
    margin-top: 160px;
}
.mimi i{
    font-size: 50px;
    color: #04C254 ;
}
.mimi h3{
    color: black;
    font-weight: 600;
}
.card-bt{
    background-color: #04C254;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.card-bt:hover{
    color: #04C254;
    background-color: white;
    text-decoration: none;
    border: 1px solid #04C254;
}
.card-title{
    color: black;
}
.s-div{
    width: 80%;
    margin: 80px 0px;
}