{% extends "base.html" %}
{% load static %}

{% block title %}
    Services
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/service.css' %}">
{% endblock css %}

{% block content %}
        <div class="my-5"></div>
        <div class="scroll-img d-flex justify-content-center">
            <div class="inner-div text-center">
                <h1>Our Services</h1>
                <p>Get In touch With Us</p>
            </div>
        </div>

        <div class="mrg-t text-center">
            <h1 style="color: black;">We Provide High Quality Services</h1>
            <div class="w-100 d-flex justify-content-center">
                <div class="row w-75 mt-5">
                    <div class="col-md-4 text-center mt-5">
                        <i style="font-size: 50px; color: #04C254 ;" class="fa-solid fa-heart-pulse"></i>
                        <h3 style="color: black;">Heart Diseases</h3>
                        <p>Lorem, ipsum dolor sit amet consec tetur adipis icing elit. sed pariatur magnam omnis minima.</p>
                    </div>
                    <div class="col-md-4 text-center mt-5">
                        <i style="font-size: 50px; color: #04C254 ;" class="fa-solid fa-syringe"></i>
                        <h3 style="color: black;">Cardiology</h3>
                        <p>Lorem, ipsum dolor sit amet consec tetur adipis icing elit. sed pariatur magnam omnis minima.</p>
                    </div>
                <div class="col-md-4 text-center mt-5">
                    <i style="font-size: 50px; color: #04C254 ;" class="fa-solid fa-pills"></i>
                    <h3 style="color: black;">Dentistry</h3>
                    <p>Lorem, ipsum dolor sit amet consec tetur adipis icing elit. sed pariatur magnam omnis minima.</p>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <i style="font-size: 50px; color: #04C254 ;" class="fa-solid fa-briefcase-medical"></i>
                    <h3 style="color: black;">Virusology</h3>
                    <p>Lorem, ipsum dolor sit amet consec tetur adipis icing elit. sed pariatur magnam omnis minima.</p>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <i style="font-size: 50px; color: #04C254 ;" class="fa-solid fa-notes-medical"></i>
                    <h3 style="color: black;">Eye Surgery</h3>
                    <p>Lorem, ipsum dolor sit amet consec tetur adipis icing elit. sed pariatur magnam omnis minima.</p>
                </div>
                <div class="col-md-4 text-center mt-5">
                    <i style="font-size: 50px; color: #04C254 ;" class="fa-solid fa-hospital"></i>
                    <h3 style="color: black;">Pharmocology</h3>
                    <p>Lorem, ipsum dolor sit amet consec tetur adipis icing elit. sed pariatur magnam omnis minima.</p>
                </div>
            </div>
            </div>
            
        </div>


        <div class="mrg-t">
            <div class="row d-flex justify-content-center">
                <div class="col-12 text-center">
                    <h1 style="color: black; font-weight: 700;">
                        Our Specialities
                    </h1>
                </div>
                <div class="container my-5">
                    <div class="card m-4" style="width: 18rem; display: inline-block;">
                        <img src="{% static '/images/s1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mt-1">Blood Test</h5>
                            <p class="card-text mt-3">Lorem ipsum dolor sit amet consect etur, adipisicing. Enim, mollitia!</p>
                            <a href="#" class="card-bt mt-3">Read More</a>
                        </div>
                    </div>
                    <div class="card m-4" style="width: 18rem;display: inline-block;">
                        <img src="{% static '/images/s2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mt-1">Urology</h5>
                            <p class="card-text mt-3">Lorem ipsum dolor sit amet consect etur, adipisicing. Enim, mollitia!</p>
                            <a href="#" class="card-bt mt-3">Read More</a>
                        </div>
                    </div>
                    <div class="card m-4" style="width: 18rem; display: inline-block;">
                        <img src="{% static '/images/s3.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mt-1">Dental</h5>
                            <p class="card-text mt-3">Lorem ipsum dolor sit amet consect etur, adipisicing. Enim, mollitia!</p>
                            <a href="#" class="card-bt mt-3">Read More</a>
                        </div>
                    </div>
                    <div class="card m-4" style="width: 18rem; display: inline-block;">
                        <img src="{% static '/images/s4.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mt-1">Sports Injury</h5>
                            <p class="card-text mt-3">Lorem ipsum dolor sit amet consect etur, adipisicing. Enim, mollitia!</p>
                            <a href="#" class="card-bt mt-3">Read More</a>
                        </div>
                    </div>
                    <div class="card m-4" style="width: 18rem; display: inline-block;">
                        <img src="{% static '/images/s5.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mt-1">General Surgery</h5>
                            <p class="card-text mt-3">Lorem ipsum dolor sit amet consect etur, adipisicing. Enim, mollitia!</p>
                            <a href="#" class="card-bt mt-3">Read More</a>
                        </div>
                    </div>
                    <div class="card m-4" style="width: 18rem; display: inline-block;">
                        <img src="{% static '/images/s6.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mt-1">Lung Diseases</h5>
                            <p class="card-text mt-3">Lorem ipsum dolor sit amet consect etur, adipisicing. Enim, mollitia!</p>
                            <a href="#" class="card-bt mt-3">Read More</a>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        
{% endblock content %}